* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, Arial, sans-serif;
  background: #f6f7fb;
  color: #111;
  height: 100vh;
}

#themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 8px 12px;
  border: none;
  border-radius: 6px;

  cursor: pointer;

  background: #111;
  color: white;

  z-index: 1000;
}

/* LIGHT (default) */
body {
  background: #f6f7fb;
  color: #111;
}

/* DARK MODE */
body.dark {
  background: #0f172a;
  color: #e2e8f0;
}

body.dark .sidebar {
  background: #111827;
  border-right: 1px solid #1f2937;
}

body.dark .sidebar a {
  color: #e5e7eb;
}

body.dark .sidebar a.active {
  background: #2563eb;
  color: white;
}

body.dark pre {
  background: #1e293b;
  color: #22c55e;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;

  background: #ffffff;
  border-right: 1px solid #e5e5e5;

  padding: 20px;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  padding: 10px 12px;
  margin-bottom: 5px;

  text-decoration: none;
  color: #333;

  border-radius: 6px;

  transition: 0.2s;
}

.sidebar a:hover {
  background: #f0f0f0;
}

.content {
  margin-left: 25%;
  width: 75%;

  padding: 40px;

  overflow-y: auto;
  height: 100vh;
}

section {
  margin-bottom: 60px;
}

section h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

pre {
  background: #1e1e1e;
  color: #00ff88;

  padding: 15px;
  border-radius: 8px;

  overflow-x: auto;
  margin-top: 10px;
}

p {
  line-height: 1.6;
  color: #444;
}

.sidebar a.active {
  background: #111;
  color: white;
}

.code-block {
  position: relative;
  margin-top: 10px;
}

.copy-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  background: #111;
  color: white;

  border: none;
  padding: 5px 10px;

  font-size: 12px;
  border-radius: 5px;

  cursor: pointer;
}

.copy-btn:hover {
  background: #333;
}